<configuration>
  <appSettings>
    <add key="EndPointUrl" value="https://rddb.documents.azure.com"/>
    <add key="AuthorizationKey" value="jrCf2UzlSpaEYHbhshjAconZmKxedqoOkW3o40lrUPyZuXLAxAYaUyaETTGapQNhK0q5Si9wCUumpg26KFhD8g=="/>
    <add key="DatabaseName" value="familiesdb"/>
    <add key="CollectionName" value="families"/>
  </appSettings>
</configuration>